@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

body {
  font-weight: 400;
  font-family: "Roboto", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: background-color 0.5s ease;
}

#quote-box {
  padding: 40px 50px;
  display: table;
  background-color: white;
  border-radius: 3px;
  width: 500px;
}

#text {
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  width: 500px;
  height: auto;
  clear: both;
  margin-bottom: 10px;
  transition: color 0.5s ease;
}

#author {
  width: 500px;
  height: auto;
  clear: both;
  text-align: right;
  font-size: 1rem;
  margin-bottom: 30px;
  transition: color 0.5s ease;
}

.buttons {
  height: 40px;
  border: none;
  color: white;
  outline: none;
  font-size: 0.85em;
  padding: 8px 18px 6px 18px;
  cursor: pointer;
  transition: color 0.5s ease;
}

.button#new-quote {
  float: left;
  border-radius: 3px;
  padding: 10px;
  padding-top: 8px;
  text-align: center;
  font-size: 1.2em;
  margin-right: 5px;
  width: auto;
  height: 40px;
  text-decoration: none;
}

.button#tweet-quote {
  float: right;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  height: 40px;
  font-size: 1.2em;
  margin-left: 5px;
  text-decoration: none;
}

a {
  text-decoration: none;
  transition: color 0.5s ease;
}